<article class="vehicle-detail">
    <header>
        <a href="#/logout">Log out</a>
    </header>
    <section>
        <section>
            <img src="/assets/images/{{image}}"/>
            <h2>{{name}}</h2>
            <div>{{amount}} {{currency}}</div>
        </section>
        <section>
            <table>
                <tr><th>Year</th><td>{{year}}</td></tr>
                <tr><th>Body Type</th><td>{{bodytype}}</td></tr>
                <tr><th># of Passengers</th><td>{{passengers}}</td></tr>
                <tr><th># of Doors</th><td>{{doors}}</td></tr>
                <tr><th>Color</th><td>{{color}}</td></tr>
                <tr><th>Fuel Type</th><td>{{fueltype}}</td></tr>
                <tr><th>CC</th><td>{{cc}}</td></tr>
                <tr><th>Cylinder Layout</th><td>{{cylinderlayout}}</td></tr>
                <tr><th>Transmission</th><td>{{transmission}}</td></tr>
            </table>
        </section>
        <div><a href="#/oldtimers">Go back</a></div>
    </section>
</article>
